# Fill That Cart!

# Introduction

Instacart is a grocery delivery platform where customers can place an order and have it delivered, similar to Uber Eats and DoorDash.  
The objective of this project is to understand and bring insights about customer behavior.

## Data Dictionary

- `instacart_orders.csv`: each row corresponds to an order in the Instacart application.
    - `'order_id'`: unique ID number that identifies each order.
    - `'user_id'`: unique ID number that identifies each customer's account.
    - `'order_number'`: the number of times this customer has placed an order.
    - `'order_dow'`: day of the week the order was placed (0 if Sunday).
    - `'order_hour_of_day'`: time of day the order was placed.
    - `'days_since_prior_order'`: number of days since this customer placed their previous order.
- `products.csv`: each row corresponds to a unique product that customers can purchase.
    - `'product_id'`: unique ID number that identifies each product.
    - `'product_name'`: name of the product.
    - `'aisle_id'`: unique ID number that identifies each grocery aisle category.
    - `'department_id'`: unique ID number that identifies each grocery department.
- `order_products.csv`: each row corresponds to an item ordered in a purchase.
    - `'order_id'`: unique ID number that identifies each order.
    - `'product_id'`: unique ID number that identifies each product.
    - `'add_to_cart_order'`: the sequential order in which each item was added to the cart.
    - `'reordered'`: 0 if the customer has never ordered this product before, 1 if they have.
- `aisles.csv`
    - `'aisle_id'`: unique ID number that identifies each grocery aisle category.
    - `'aisle'`: name of the aisle.
- `departments.csv`
    - `'department_id'`: unique ID number that identifies each grocery department.
    - `'department'`: name of the department.

# Step 1. Data Description

In [ ]:
# import libraries
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
# read datasets into DataFrames
df_orders = pd.read_csv('instacart_orders.csv', sep=';')
df_products = pd.read_csv('products.csv', sep=';')
df_aisles = pd.read_csv('aisles.csv', sep=';')
df_departments = pd.read_csv('departments.csv', sep=';')
df_order_products = pd.read_csv('order_products.csv', sep=';')

In [ ]:
# show information from the DataFrame
df_orders.info()

In [ ]:
# show information from the DataFrame
df_products.info()

In [ ]:
# show information from the DataFrame
df_aisles.info()

In [ ]:
# show information from the DataFrame
df_departments.info()

In [ ]:
# show information from the DataFrame
df_order_products.info()

## Observations

The data was received in .csv files, the separator ";" was established as a parameter of the pandas read_csv() method to read each of the tables and assign them correctly to their respective dataframe, they were assigned as follows:<br>

#Name of the dataframe / Table
<br>
df_orders = instacart_orders.csv
<br>
df_products = products.csv
<br>
df_aisles = aisles.csv
<br>
df_departments = departments.csv
<br>
df_order_products = order_products.csv

# Step 2. Data preprocessing

## Solution plan

Appropriate methods will be used to check for missing or duplicate values that may affect the data analysis. <br>
The data frame will not be modified unless the values found may affect the subsequent analysis.

### `orders` data frame

In [ ]:
# Check for duplicate orders
print("Duplicate values in df_orders: ", df_orders.duplicated().sum())
print(df_orders[df_orders.duplicated()])

**Remarks**

All duplicate rows correspond to orders placed on Wednesday at 2:00 a.m.

In [ ]:
# Check all orders that were placed on Wednesday at 2:00 a.m.
print(df_orders.query("order_dow == 3 and order_hour_of_day == 2"))

**Remarks**

The result of this query suggests that during the early hours of Wednesday there was a system failure that caused 15 duplicate orders in the database, probably a failure during a backup or something else.

In [ ]:
# Remove duplicate orders
df_orders.drop_duplicates(inplace=True)
df_orders.reset_index(drop=True)

In [ ]:
# Check if duplicate rows still exist
print("Duplicate values in df_orders: ", df_orders.duplicated().sum())

In [ ]:
# Check only for duplicate order IDs
print("Duplicate values in column order_id of df_orders: ", df_orders['order_id'].duplicated().sum())

**Remarks**

A total of 15 duplicate rows were found in the df_orders dataframe, the drop_duplicates method with the inplace parameter as True was used on the dataframe to remove the duplicate rows, and the reset_index method was also added to reset the indexes after the removal.

### `products` data frame

In [ ]:
# Check for fully duplicate rows
print("Duplicate values in df_products: ", df_products.duplicated().sum())

In [ ]:
# Check only for duplicate department IDs
print("Duplicate values in department_id column of df_products: ", df_products['department_id'].duplicated().sum())

In [ ]:
# Check only for duplicate product names (convert names to uppercase for better comparison)
df_products_uppercase = df_products['product_name'].str.upper()
# Check for uppercase conversion
print(df_products_uppercase)
# Evaluate duplicate names
print("Duplicate values in product_name from df_products: ", df_products_uppercase.duplicated().sum())

In [ ]:
# Check for duplicate non-missing product names
print("Non-missing duplicate values: ", df_products[~(df_products['product_name'].isna())].duplicated().sum())

**Remarks**

No duplicate rows were found in df_products, duplicate product names were evaluated, the vast majority of them are missing values in the product_name column, no modifications were made to the original dataframe.

### `departments` data frame

In [ ]:
# Check for fully duplicate rows
print("Duplicate values in df_departments: ", df_departments.duplicated().sum())

In [ ]:
# Check only for duplicate product IDs
print("Duplicate values in department_id column of df_departments: ", df_departments['department_id'].duplicated().sum())

**Remarks**

No duplicate rows were found in df_department or its id, no modifications were made to the original dataframe.

### `aisles` data frame

In [ ]:
# Check for fully duplicate rows
print("Duplicate values in df_aisles: ", df_aisles.duplicated().sum())

In [ ]:
# Check only for duplicate product IDs
print("Duplicate values in column aisle_id of df_aisles: ", df_aisles['aisle_id'].duplicated().sum())

**Remarks**

No duplicate rows were found in df_aisles or its id, no modifications were made to the original data frame.

### `order_products` data frame

In [ ]:
# Check for fully duplicate rows
print("Duplicate values in df_order_products: ", df_order_products.duplicated().sum())

In [ ]:
# Double-check for any other misleading duplicates
print(df_order_products['order_id'].duplicated().sum())

**Remarks**

No completely duplicate rows were found, it is normal to find duplicates in order_id, since many orders have more than one product, it is normal for the rest of the columns to have duplicates as well.

## Missing values

When working with duplicate values, we noticed that we are also missing missing values ​​to investigate:

* The `'product_name'` column in the products table.
* The `'days_since_prior_order'` column in the orders table.
* The `'add_to_cart_order'` column in the order_productos table.

### `products` data frame

In [ ]:
# Find missing values in column 'product_name'
print(df_products[df_products['product_name'].isna()])

**Remarks**

At first glance, it seems that all the rows in which the product_name value is missing coincide in belonging to aisle 100 and department 21

In [ ]:
# Check if all missing products are related to aisle with ID 100
print(df_products.isna().sum())
print()
print(df_products[df_products['aisle_id'] == 100].count())

**Remarks**

Indeed, all the rows in which the value of product_name is belong to aisle 100

In [ ]:
# Check if all missing products are related to department with ID 21
print(df_products[df_products['department_id'] == 21].count())

**Remarks**

Indeed, all the rows in which the value of product_name is belong to department 21

In [ ]:
# Use the department and aisle tables to check the data for the aisle with ID 100 and the department with ID 21.
print(df_aisles[df_aisles['aisle_id'] == 100])
print(df_departments[df_departments['department_id'] == 21])

**Remarks**

Aisle 100 and department 21 have the word "missing", probably because there is no product name specified in the table, these columns are filled with that word automatically.

In [ ]:
# Fill missing product names with 'Unknown'
df_products['product_name'].fillna('Unknown', inplace=True)
print(df_products[df_products['product_name'].isna()]) #Checking that there are no more missing values in product_name

**Remarks**

The 1258 missing values in the product_name column of the products table were replaced by the word "Unknown"

### `orders` data frame

In [ ]:
# Find the missing values
print(df_orders.isna().sum())

In [ ]:
# Is there any missing value other than the customer's first order? - No
print(df_orders[df_orders['order_number'] == 1].count())

**Remarks**

There are no missing values ​​in this table except for the 28,817 missing values ​​in the column of days elapsed since this customer placed their previous order, which correspond to the rows in which it is the customer's first order, naturally there is no record of the days elapsed since the previous order for all those cases.

### `order_products` data frame

In [ ]:
# Find the missing values
print(df_order_products.isna().sum())

In [ ]:
# Minimum and maximum values in this column
print("Minimum value: ", df_order_products['add_to_cart_order'].min())
print("Maximum value: ", df_order_products['add_to_cart_order'].max())

**Remarks**

It is natural that the minimum value of products added to the cart is 1, there does not seem to be any error in that regard. Based on the maximum value, there are orders where the customer added up to 64 items to their cart.

In [ ]:
# Save all order IDs that have a missing value in 'add_to_cart_order'
id_miss_add_to_cart_order = df_order_products['order_id'][df_order_products['add_to_cart_order'].isna()]
print(id_miss_add_to_cart_order)

In [ ]:
# Do all orders with missing values have more than 64 products? - Yes
group = df_order_products[df_order_products['add_to_cart_order'].isna()].groupby('order_id')
print("Minimum count value: ", group['product_id'].count().min())
print("Maximum count value: ", group['product_id'].count().max())

**Remarks**

It appears that for all orders, when the counter used to store the added number of products passes 63, its value in add_to_cart_order changes to NaN.

In [ ]:
# Replace missing values in column 'add_to_cart? with 999 and convert the column to integer type.
df_order_products['add_to_cart_order'].fillna(999, inplace=True)
print(df_order_products[df_order_products['add_to_cart_order'].isna()]) #Checking that there are no more missing values
df_order_products['add_to_cart_order'] = df_order_products['add_to_cart_order'].astype('int')#Converting to int
print(df_order_products['add_to_cart_order'].dtype) #Checking converted data type

**Remarks**

The missing values in the add_to_cart_order column were replaced with 999 and the column was changed to integer type, since the float data type was not suitable for this column, it is not possible to add "half a product" to the cart.<br>
There are 836 lines in df_products where the value 'add_to_cart' is missing, all of them correspond to orders where the customer added more than 64 items to the cart, probably the source of this value has some programming error that does not record the number when it exceeds this amount.

## Conclusion of preprocessing

During data preprocessing, each of the data frames provided by the client was analyzed separately.<br>
- df_orders: 15 duplicate rows containing exactly the same information were removed from the orders table.<br>
- df_products: No duplicate values were found in the products table, but there were some products with the same name, and 1258 records in the table without a product name were replaced by the word "Unknown".<br>
- df_departments: No duplicate rows were found in the departments table, and no modifications were made.<br>
- df_aisles: No duplicate rows were found in the aisles table, and no modifications were made.<br>
- df_order_products: No duplicate rows were found in the order_products table, 836 missing values were found in the add_to_cart_order column, all of which correspond to carts where the quantity of products exceeded 63 products, these missing values were replaced by 999.

# Step 3. Data analysis

## Analysis A

### [A1] Verify that the values ​​for time and day of the week are reasonable

In [ ]:
print(df_orders['order_hour_of_day'].sort_values().unique())

In [ ]:
print(df_orders['order_dow'].sort_values().unique())

**Remarks**

Appropriate queries were used to verify that the values for the order_hour_of_day and order_dow variables were correct; the queries did not return any errors for these variables.

### [A2] For each hour of the day, how many people place orders?

In [ ]:
from matplotlib import pyplot as plt
orders_per_hour = df_orders.groupby('order_hour_of_day')['user_id'].count()
orders_per_hour.plot(xlabel="Hour of day",
                     ylabel='Orders per person',
                     title='Number of orders per person by hour of day',
                     style='o',
                     figsize=[12, 5],
                     grid=True)
plt.show()

**Remarks**

The number of orders increases greatly from 6am to 10am, maintaining a high order flow between 10am and 3pm, then the number gradually decreases.

### [A3] What day of the week do people buy groceries?

In [ ]:
from matplotlib import pyplot as plt
orders_per_day = df_orders.groupby('order_dow')['user_id'].count()
orders_per_day.plot(kind='bar', xlabel="Days",
                    ylabel='Orders per person',
                    title='Number of people per day of the week',
                    rot=360,
                    grid=True)
plt.xticks(ticks = [0,1,2,3,4,5,6], labels=["Sun", "Mo", "Tue", "Wed","Th","Fri","Sa"])
plt.show()

**Remarks**

Sunday and Monday are the days with the most orders, well above the rest of the days, the day with the fewest orders is Thursday

### [A4] How long do people wait until they place another order?

In [ ]:
from matplotlib import pyplot as plt
last_order_days_transcurred = df_orders.groupby('days_since_prior_order')['user_id'].count()
last_order_days_transcurred.plot(kind='bar', 
                                 xlabel="Days since last order",
                                 ylabel='People', 
                                 title='People vs Days since last order',
                                 figsize=[12, 5],
                                 grid=True)
plt.show()

**Remarks**

- The minimum value in the table (0) shows that there are about 10,000 people who place orders less than 24 hours after their previous order.
- The maximum value (30) is also the most common, with most people waiting more than a month to place an order again.

## Analysis B

### [B1] Is there any difference between the `'order_hour_of_day'` distributions on Wednesdays and Saturdays?

In [ ]:
#Filtering lines for orders on Wednesday and Saturday
df_orders_wed = df_orders[df_orders['order_dow'] == 3]
df_orders_sat = df_orders[df_orders['order_dow'] == 6]

In [ ]:
# Group by hour of day and count number of order users for the day Wednesday
orders_per_hour_wed = df_orders_wed.groupby('order_hour_of_day')['user_id'].count()

In [ ]:
# Group by hour of day and count number of order users for the day Saturday
orders_per_hour_sat = df_orders_sat.groupby('order_hour_of_day')['user_id'].count()

In [ ]:
orders_per_hour_wed.plot(style='o')
orders_per_hour_sat.plot(xlabel="Hour of the day", 
                         ylabel='Orders per person', 
                         title='Number of orders per person per hour of the day on Wednesdays and Saturdays',
                         figsize=[12, 5],
                         style='o',
                         grid=True)
plt.legend(['Wednesday', 'Saturday'])
plt.show()

**Remarks**

Customers make almost the same number of orders on Wednesdays and Saturdays at almost the same time, except for the period between 12pm and 2pm. During that time period, orders on Saturday are greater than those on Wednesday.

### [B2] What is the distribution for the number of orders per customer?

In [ ]:
orders_p_customer = df_orders.groupby('order_number')['user_id'].count()

In [ ]:
orders_p_customer.plot(kind='bar', 
                        xlabel="Number of orders", 
                        ylabel='People',
                        title='Number of orders placed per person', 
                        figsize=[20, 5],
                        grid=True)
plt.show()

**Remarks**

It is normal to see the graph reduce in relation to the number of orders; the vast majority of customers do not make more than 10 orders.

### [B3] What are the 20 most popular products (show their ID and name)?

In [ ]:
#Grouping quantity of orders by product_id
product_orders = df_order_products.groupby('product_id')['order_id'].count()
#Sort descending
product_orders = product_orders.sort_values(ascending = False)
#Getting the top 20
product_orders = product_orders.iloc[:20]

In [ ]:
#Merging with df_products to get the column with the names
twenty_popular = df_products.merge(product_orders, on='product_id')
#Narrowing down to see the columns we are interested in
twenty_popular = twenty_popular[['product_id', 'product_name','order_id']]

In [ ]:
# Modifying the order_id column name to be more descriptive
new_names = {
  'order_id': 'Number of Orders'
}
twenty_popular = twenty_popular.rename(columns=new_names)

# Printing in descending order
print(twenty_popular.sort_values(by='Number of Orders', ascending=False))

**Remarks**

Most of the products in the top orders are organic

# Analysis C

### [C1] How many items do people typically buy in one order? How is the distribution?

In [ ]:
#Grouping by order_id
ordered_products = df_order_products.groupby('order_id')

In [ ]:
#Getting the number of lines for each order_id
ordered_products = ordered_products.count()
print(ordered_products)

In [ ]:
ordered_products['product_id'].plot(kind='hist')
plt.show()
print("The average number of items purchased in a single order is: ", ordered_products['product_id'].mean())

**Remarks**

The vast majority of items included in a single order range from 1 to 20 items, with an average of 10 items.

### [C2] What are the top 20 most frequently reordered items?

In [ ]:
#Grouping by sum of product_id
reordered_products = df_order_products.groupby('product_id').sum()
#Ordering from largest to smallest
reordered_products = reordered_products.sort_values(by = 'reordered',ascending = False)

In [ ]:
#Getting the 20 most reordered
most_reordered = reordered_products.iloc[:20]
#Merging with df_products to get the column with the names
most_reordered = df_products.merge(most_reordered, on='product_id')
#Narrowing down to see the columns we are interested in
most_reordered = most_reordered[['product_id', 'product_name','reordered']]

In [ ]:
# Modifying the reordered column name to be more descriptive
new_names = {
  'reordered': 'Times_Reordered'
}
most_reordered = most_reordered.rename(columns=new_names)

In [ ]:
#Printing in descending order
print(most_reordered.sort_values(by='Times_Reordered',ascending = False))

**Remarks**

It is normal to find that many of the most reordered products coincide with the most ordered products.

### [C3] For each product, what is the proportion of times it is ordered and reordered?

In [ ]:
#Grouping by sum of reordered product_ids
reordered_products_sum = df_order_products.groupby('product_id')['reordered'].sum()
#Grouping by product_id count in order_id
ordered_products_count = df_order_products.groupby('product_id')['order_id'].count()

In [ ]:
#Concatenating series grouped in the same dataframe
group = pd.concat([reordered_products_sum, ordered_products_count], axis='columns')

In [ ]:
#Creating new column with proportion
group['proportion'] = group['reordered'] / group['order_id']
print(group)

**Remarks**

The ratio "number of repeat orders/total orders" can give us a very good idea of ​​the products with good quality that customers enjoy continuing to buy.

### [C4] For each customer, what proportion of your products had already been ordered?

In [ ]:
#Grouping by sum of reordered and quantity of products for each order
agg_dict = {'reordered': 'sum', 'product_id': 'count'}
group = df_order_products.groupby('order_id')
group = group.agg(agg_dict)

In [ ]:
#Merging reordered with df_orders by order_id
mix = df_orders.merge(group, on='order_id')
#Removing unnecessary columns
mix = mix[['user_id','reordered', 'product_id']]
#Grouping by sum of products and reordered for each user
mix = mix.groupby('user_id').sum()
#Adding column with proportion and printing
mix['proportion'] = mix['reordered'] / mix['product_id']
print(mix)

**Remarks**

The "repurchased products/purchased products" ratio for each customer can give us an idea of ​​which customers tend to repurchase products, information that can be valuable to the customer, for example, to offer them promotions or reward them for it.

### [C5] What are the top 20 items people put first in their carts?

In [ ]:
#Filtering by products ordered first
first_articles = df_order_products[df_order_products['add_to_cart_order'] == 1]
#Grouping by sum of product_id added first
first_articles = first_articles.groupby('product_id').sum()
#Ordering from largest to smallest
first_articles = first_articles.sort_values(by = 'add_to_cart_order',ascending = False)

In [ ]:
#Getting the 20 most ordered as first option
most_firsto = first_articles.iloc[:20]
#Merging with df_products to get the column with the names
most_firsto = df_products.merge(most_firsto, on='product_id')
#Narrowing down to see the columns we are interested in
most_firsto = most_firsto[['product_id', 'product_name','add_to_cart_order']]

In [ ]:
#Modifying the name of order_id to be more explanatory
new_names = {
'add_to_cart_order' : 'Times sorted first'
}
most_firsto = most_firsto. rename(columns = new_names)
#Printing in descending order
print(most_firsto. sort_values(by='Times sorted first',ascending = False))

**Remarks**

In this case there was not much similarity with the reordered or more ordered products, however the most ordered products occupied the majority of the first positions in those ordered first.

# Conclusion of the Exploratory Data Analysis
The analysis provides key insights into customer behavior, order patterns, and potential system issues.
### Customer Ordering Behavior
- **Peak Order Times:** Orders significantly increase from 6 AM to 3 PM, with the highest volume between 10 AM and 3 PM.
- **Popular Shopping Days:** Sunday and Monday have the highest number of orders, while Thursday has the fewest.
- **Order Frequency:** Most customers place orders once a month (30 days apart), but around 10,000 customers reorder within 24 hours of their last purchase.
- **Cart Size:** Customers typically purchase 1 to 20 items per order, with an average of 10 items per order.
### Product Preferences & Customer Loyalty
- **Most Ordered Products:** Organic products dominate the top orders.
- **Repeat Purchases:** The ratio of repurchased products to total purchases can help identify high-quality products that drive customer loyalty.
- **Customer Segmentation:** The "repurchased products/purchased products" ratio can be used to segment customers and offer personalized promotions or rewards.
### System & Data Quality Issues
- **Duplicate Orders:** A system failure likely occurred on Wednesdays at 2:00 AM, leading to 15 duplicate orders—potentially due to a backup issue.
- **Missing Product Names:** All missing values for product_name belong to aisle 100 and department 21, where the system automatically assigns the word "missing."
- **Cart Size Limitation:** Orders with more than 64 items have missing "add_to_cart" values, suggesting a system bug that fails to record numbers beyond this threshold.
### Business Implications
- **Optimize Promotions & Inventory:** Focus marketing efforts on peak shopping times and popular products.
- **Customer Retention Strategy:** Leverage repurchase data to offer targeted promotions and reward loyal customers.
- **Improve System Reliability:** Investigate and resolve system bugs related to duplicate orders and missing cart data to ensure a seamless customer experience.